
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
  display: flex;
  align-items: center; /* Centra verticalmente */
  justify-content: space-between; /* Espacio entre imagen y botón */
  padding: 10px 20px;
  background-color: #7085f9;
  border-color: #7085f9;
  border-bottom: 2px solid #111;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; /* Ocupa todo el ancho */
  z-index: 999; /* Se asegura de estar por encima de todo */
}

.header-btn {
  margin-right: 30px;
  background-color: #007bff; /* Azul */
  color: #111;
  border: none;
  font-size: 12px;
  padding: 8px 10px;
  white-space: nowrap;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.header-img {
  width: 35px;
  height: 35px;
  background: linear-gradient(135deg, #7085f9, #5063c9); /* Fondo claro para contraste */
    padding: 1px;
    border-radius: 50%; /* Círculo */
}

.sidenav {
  height: 100%;
  width: 50px;
  position: fixed;
  top: 0;
  left: 0;
  background: linear-gradient(135deg, #7085f9, #5063c9);
  border-color: #7085f9;
  overflow-x: hidden;
  transition: width 0.3s ease;
  padding-top: 60px;
}
 .sidenav img{
  width: 30px;
  height: 25px;
 }
.sidenav:hover {
  width: 250px; /* Expande el sidebar al pasar el mouse */
}

.sidenav a {
  font-weight: 700px;
  display: flex;
  align-items: center;
  padding: 8px 8px;
  text-decoration: none;
  font-size: 18px;
  color: #000000;
  transition: color 0.3s ease, padding-left 0.3s ease;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav i {
  margin-right: 10px;
  font-size: 24px;
}

.sidenav .menu-text {
  opacity: 0;
  visibility: hidden;
  white-space: nowrap;
  margin-left: 10px;
  transition: opacity 0.3s ease, visibility 0.3s ease, margin-left 0.3s ease;
}

.sidenav:hover .menu-text {
  opacity: 1;
  visibility: visible;
  margin-left: 10px; /* Alinea el texto con los iconos */
}

.open-area {
  height: 100%;
  width: 0px; /* Área para el hover */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  transition: background-color 0.3s ease;
} 

.sidenav:hover ~ .content {
    margin-left: 250px; /* Cambia el margen para hacer espacio al sidebar expandido */
  }
  
  .content {
    margin-left: 65px; /* Tamaño del sidebar colapsado */
    padding: 20px;
    transition: margin-left 0.3s ease; 
    background-position: center;
    margin-bottom: 50px; /* Ajusta este valor para que coincida con la altura del footer */
    overflow: scroll;
  }

 .imagen {
    width: 375px;
    height: 400px;
 }

.hidden {
    display: none;
} /* Aplicacion de color al texto de las respuestas */
.correcta { 
    color: green;
    font-weight: bold;
} /* Aplicacion de color al texto de las respuestas */
.incorrecta {
    color: red;
    font-weight: bold;
}

/*FOOTER*/
footer {
  margin-top: 5px;
  position: sticky;
  bottom: 0;
  width: 100%; /* Asegúrate de que ocupe todo el ancho */
  color: white; /* Color del texto */
  text-align: center; /* Alinea el texto al centro */
  padding: 5px 0; /* Espaciado vertical */
  z-index: 0;
  font-size: 11px;
  background-color: #012c3d;
}
.btn{

  justify-content: center;
}